
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>飞剑问道最新章节列表_飞剑问道最新章节目录_笔趣阁</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keywords" content="飞剑问道,飞剑问道最新章节"/>
<meta name="description" content="飞剑问道最新章节由网友提供，《飞剑问道》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的修真小说小说，笔趣阁免费提供我吃西红柿最新清爽干净的文字章节在线阅读."/>
<meta name="mobile-agent" content="format=html5;url=https://m.biquge.info/0_242/">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="飞剑问道"/>
<meta property="og:description" content="在这个世界，有狐仙、河神、水怪、大妖，也有求长生的修行者。<br/><br/>修行者们，<br/><br/>开法眼，可看妖魔鬼怪。<br/><br/>炼一口飞剑，可千里杀敌。<br/><br/>千里眼、顺风耳，更可探查四方。<br/><br/>……<br/><br/>秦府二公子‘秦云’，便是一位修行者……"/>
<meta property="og:image" content="https://www.biquge.info/files/article/image/0/242/242s.jpg"/>
<meta property="og:novel:category" content="修真小说"/>
<meta property="og:novel:author" content="我吃西红柿"/>
<meta property="og:novel:book_name" content="飞剑问道"/>
<meta property="og:novel:read_url" content="https://www.biquge.info/0_242/"/>
<meta property="og:novel:status" content="连载中"/>
<meta property="og:novel:update_time" content="2019-04-25 04:11"/>
<meta property="og:novel:latest_chapter_name" content="第二十三篇 第十三章 结盟，发动！"/>
<meta property="og:novel:latest_chapter_url" content="https://www.biquge.info/0_242/11478732.html"/>
<link rel="stylesheet" type="text/css" href="/heibing/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/heibing/css/list.css"/>
<script type="text/javascript" src="https://libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript">var bookid = "242"; var booktitle = "飞剑问道";</script>
<script type="text/javascript" src="/images/bqg.js"></script>
<script type="text/javascript" src="/js/btn.js"></script>
</head>
<body>
<div id="wrapper">
<div class="ywtop">
<div class="ywtop_con">
<div class="ywtop_sethome"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('https://www.biquge.info/');" href="#">将笔趣阁设为首页</a></div>
<div class="ywtop_addfavorite"><a href="javascript:window.external.addFavorite('https://www.biquge.info/','笔趣阁_书友最值得收藏的网络小说阅读网')">收藏笔趣阁</a></div>
<script language="javascript" src="/heibing/js/denglu.js"></script>
</div>
</div>
<div class="header">
<div class="header_logo"><a href="https://www.biquge.info/">笔趣阁</a></div>
<script>list_panel();</script>
</div>
<div class="nav">
<ul>
<li><a href="https://www.biquge.info/">首页</a></li>
<li><a href="https://www.biquge.info/modules/article/bookcase.php">我的书架</a></li>
<li><a href="https://www.biquge.info/list/1_1.html">玄幻小说</a></li>
<li><a href="https://www.biquge.info/list/2_1.html">修真小说</a></li>
<li><a href="https://www.biquge.info/list/3_1.html">都市小说</a></li>
<li><a href="https://www.biquge.info/list/4_1.html">穿越小说</a></li>
<li><a href="https://www.biquge.info/list/5_1.html">网游小说</a></li>
<li><a href="https://www.biquge.info/list/6_1.html">科幻小说</a></li>
<li><a href="https://www.biquge.info/paihangbang_allvisit/1.html">排行榜单</a></li>
<li><a href="https://www.biquge.info/wanjiexiaoshuo/">全部小说</a></li>
</ul>
</div>
<div class="dahengfu"><script type="text/javascript">list1();</script></div>
<div class="box_con">
<div class="con_top">
<div id="bdshare" class="bdshare_b" style="line-height: 12px;"></div>
<a href="https://www.biquge.info/">笔趣阁</a> &gt; <a href="https://www.biquge.info/list/2_1.html">修真小说</a> &gt; 飞剑问道最新章节列表
</div>
<div id="maininfo">
<div id="info">
<h1>飞剑问道</h1>
<p>作&nbsp;&nbsp;&nbsp;&nbsp;者:我吃西红柿</p>
<p>类&nbsp;&nbsp;&nbsp;&nbsp;别:修真小说</p>
<p>最后更新&nbsp;&nbsp;:2019-04-25 04:11:21</p>
<p>最&nbsp;&nbsp;&nbsp;&nbsp;新:<a href="11478732.html">第二十三篇 第十三章 结盟，发动！</a></p>
<p>动&nbsp;&nbsp;&nbsp;&nbsp;作:<a href="Javascript:void(0);" onclick="javascript:addbookcase(242);">加入书架</a>, <a href="Javascript:void(0);" onclick="javascript:vote(242);">投推荐票</a>, <a href="#footer">直达底部</a></p>
</div>
<div id="intro">
<p> 在这个世界，有狐仙、河神、水怪、大妖，也有求长生的修行者。<br/><br/> 修行者们，<br/><br/> 开法眼，可看妖魔鬼怪。<br/><br/> 炼一口飞剑，可千里杀敌。<br/><br/> 千里眼、顺风耳，更可探查四方。<br/><br/> ……<br/><br/> 秦府二公子‘秦云’，便是一位修行者……</p>
<p>本站提示：各位书友要是觉得《飞剑问道》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</p>
</div>
</div>
<div id="sidebar">
<div id="fmimg">
<img width="120" height="150" src="https://www.biquge.info/files/article/image/0/242/242s.jpg" onerror="src='/modules/article/images/nocover.jpg'" alt="飞剑问道"/>
<span class="b"></span>
</div>
</div>
<div id="listtj">&nbsp;推荐阅读：<a href="/0_383/" target="_blank">元尊</a>、<a href="/10_10582/" target="_blank">三寸人间</a>、<a href="/31_31413/" target="_blank">最强反套路系统</a>、<a href="/10_10240/" target="_blank">凡人修仙传</a>、<a href="/1_1055/" target="_blank">百炼成仙</a>、<a href="/10_10233/" target="_blank">遮天</a>、<a href="/39_39024/" target="_blank">独步成仙</a>、<a href="/41_41329/" target="_blank">重生西游之天篷妖尊</a>、<a href="/10_10678/" target="_blank">仙逆</a>、<a href="/0_329/" target="_blank">莽荒纪</a>、<a href="/10_10238/" target="_blank">星辰变</a>、<a href="/22_22533/" target="_blank">凡人修仙传仙界篇</a>、<a href="/5_5940/" target="_blank">道门法则</a>、 </div>
</div>
<script type="text/javascript">list2();</script>
<div class="box_con">
<div id="list">
<dl>
<dd><a href="118323.html" title="飞剑问道 新书预览">飞剑问道 新书预览</a></dd>
<dd><a href="1722590.html" title="新书将于9月21日正式发布，敬请期待！">新书将于9月21日正式发布，敬请期待！</a></dd>
<dd><a href="2313448.html" title="第一章 归来">第一章 归来</a></dd>
<dd><a href="1725454.html" title="第二章 擒下">第二章 擒下</a></dd>
<dd><a href="1728447.html" title="第三章 妖怪头领‘褚庸’">第三章 妖怪头领‘褚庸’</a></dd>
<dd><a href="1951751.html" title="第四章 我是他的弟弟！">第四章 我是他的弟弟！</a></dd>
<dd><a href="2005308.html" title="第五章 本命飞剑">第五章 本命飞剑</a></dd>
<dd><a href="2066385.html" title="第六章 二十岁前不入仙门，终生无望">第六章 二十岁前不入仙门，终生无望</a></dd>

</dl>
</div></div>
<div class="dahengfu"><script type="text/javascript">list3();</script></div>
<div id="footer" name="footer">
<div class="footer_link">
新书推荐：
<a href="/0_383/" target="_blank"><b>元尊</b></a>、
<a href="/65_65010/" target="_blank"><b>一仙难球</b></a>、
<a href="/65_65004/" target="_blank"><b>诸天之道叩洪荒</b></a>、
<a href="/64_64988/" target="_blank"><b>弃少归来</b></a>、
<a href="/64_64967/" target="_blank"><b>绝品神女攻略</b></a>、
<a href="/64_64948/" target="_blank"><b>万古第一仙</b></a>、
<a href="/64_64945/" target="_blank"><b>幻剑奇书</b></a>、
<a href="/64_64939/" target="_blank"><b>黄山修道士</b></a>、
<a href="/64_64926/" target="_blank"><b>王小六的修炼生活</b></a>、
<a href="/64_64920/" target="_blank"><b>酒中踏歌行</b></a>、
<a href="/64_64912/" target="_blank"><b>我，万界最强仙师</b></a>、
</div>
<div class="footer_cont">
<p>《飞剑问道》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的修真小说,笔趣阁转载收集飞剑问道最新章节。</p>
<script type="text/javascript">footer();</script>
<div style="display:none"><script type="text/javascript">tongji();</script></div>
</div>
</div>
<script>recordedclick(242);</script>
</body>
</html>
